<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"/>

    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>
    <style>
        html, body, #map {
            width: 100%;
            height: 100%;
        }
    </style>
</head>

<body>
<div id="map">
    <script type="text/javascript">
        // var myMap = L.map('map').setView([51.73, -1.28], 5);

        var coolPlaces = new L.LayerGroup();



        // L.marker([42.510059, 1.5355217]).bindPopup('B').addTo(coolPlaces);
        // L.marker([42.510035, 1.5330917]).bindPopup('C').addTo(coolPlaces);
        // L.marker([42.509652, 1.5342450]).bindPopup('D').addTo(coolPlaces);
        // L.marker([42.509759, 1.5381289]).bindPopup('E').addTo(coolPlaces);
        // L.marker([42.510538, 1.5371364]).bindPopup('F').addTo(coolPlaces);
           L.marker([51.60127866491234, 5.335532247876811]).bindPopup('JTS').addTo(coolPlaces);
           L.marker([51.60133993313941, 5.335471914203235]).bindPopup('TRUF').addTo(coolPlaces);


        var pubLatLng = L.latLng(51.757230, -1.260269);

        L.polyline([
        [52.37261, 4.89302],
        [52.38825, 4.89207],
        [52.39323, 4.86757],
        [52.38587, 4.84526],
        [52.38438, 4.80339],
        [52.38393, 4.75462],
        [52.38377, 4.75459]
        ])
        {{!-- .setStyle({color: 'black'}) --}}
        .addTo(coolPlaces);


        L.polyline([
  

        ])
        .setStyle({color: 'blue'})
        .addTo(coolPlaces);

        L.polyline([
      
        ])
        .setStyle({color: 'black'})
        .addTo(coolPlaces);


        var ttMap = L.tileLayer(
                'https://{s}.api.tomtom.com/map/1/tile/basic/main/{z}/{x}/{y}.png?key=EhMQIGSI8EE41do0KNiXKGaPjegSIg6V'
        );
        var osmLink = '<a href="http://openstreetmap.org">OpenStreetMap</a>',
                thunLink = '<a href="http://thunderforest.com/">Thunderforest</a>';

        var osmUrl = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                osmAttrib = '&copy; ' + osmLink + ' Contributors',
                landUrl = 'http://{s}.tile.thunderforest.com/landscape/{z}/{x}/{y}.png',
                thunAttrib = '&copy; ' + osmLink + ' Contributors &' + thunLink;
        var osmMap = L.tileLayer(osmUrl, {
            attribution: osmAttrib
        })
        // ,
        // landMap = L.tileLayer(landUrl, {
        //     attribution: thunAttrib
        // }
        // );

        var myMap = L.map('map', {
            center: [52.38377, 4.75459],
            zoom: 18,
            layers: [osmMap, ttMap]
        });

        var baseLayers = {
            "General View": osmMap,
            "TT base map": ttMap
        };
        var overlays = {
            "Places visited": coolPlaces
        };
        var pubMarker = L.marker(pubLatLng).bindPopup('hey').addTo(myMap);
        L.control.layers(baseLayers, overlays).addTo(myMap);
    </script>
</div>
</body>

</html>
